<div class="top_content">
	<h2>さあ、街へ出かけよう。</h2>
	<p>地図上で街の情報を共有しよう。</p>
	<p>新たな街の魅力を知れるかも。</p>

	<% if logged_in? %>
		<%= link_to "地図をみる", questions_path, method: :index, :class => 'login_btn btn0' %>
	<% else %>
		<%= link_to( "新規登録", { controller: "users", action: "new" }, class: "login_btn btn0" ) %>
	<% end %>
</div>


<div class="howto">
	<h2 class="title0 c_mb30">MapPop（マップポップ）とは？</h2>
	<h3 class="title1">簡単３ステップで街がさらに楽しく。</h3>
	<div class="steps">
		<div class="step1 step">
			<%= image_tag 'top/pic0.png', :alt => 'Step1 会員登録' %>
			<h3><span>Step1 会員登録</span></h3>
		</div>
		<div class="step2 step">
			<%= image_tag 'top/pic1.png', :alt => 'Step1 会員登録' %>
			<h3>
				<span>Step2 街の質問または</span><br>
				<span>情報共有をする</span>
			</h3>
		</div>
		<div class="step3 step">
			<%= image_tag 'top/pic2.png', :alt => 'Step1 会員登録' %>
			<h3><span>Step3 街を楽しむ！</span></h3>
		</div>
	</div>

	<p class="about_text">
		地図上でおススメのお店の情報を投稿したり、質問をしておもしろスポットを教えてもらったりできる、地図上に存在する掲示板のようなものです。<br>
		たとえばふらっと知らない駅で降りたときに、投稿を見たり質問をして街の散策が楽しくなれば幸いです。
	</p>
</div>