
	<%= form_for(user) do |f| %>
		<div class="c_mb40 email">
			<%= f.label "email" %>
			<%= f.text_field :email %>
		</div>
		<div class="c_mb40 password">
			<%= f.label "パスワード" %>
			<%= f.password_field :password %>
		</div>
		<div class="c_mb40 name">
			<%= f.label "名前" %>
			<%= f.text_field :name %>
		</div>
		<!--
		<div class="c_mb40 username">
			<%= f.label "ユーザー名" %>
			<%= f.hidden_field :username %>
		</div>
		-->
		<div class="c_mb40 location">
			<%= f.label "出身地" %>
			<%= f.text_field :location %>
		</div>
		<div class="c_mb40 about">
			<%= f.label "自己紹介" %>
			<%= f.text_area :about %>
		</div>

		<%= f.submit "登録する", class:"submit_btn0 btn0" %>
		
	<% end %>