<h1><%= @user[:name] %></h1>
<p><%= @user[:username] %></p>
<ul>
  <li>id : <%= @user[:id] %></li>
  <li>password : <%= @user[:password] %></li>
  <li>email : <%= @user[:email] %></li>
  <li>Location : <%= @user[:location] %></li>
  <li>About    : <%= @user[:about] %></li>
</ul>