<h2>プロフィール</h2>
<p><%= @user[:name] %></p>
<p><%= @user[:username] %></p>
<ul>
  <li>id : <%= @user[:id] %></li>
  <li>password : <%= @user[:password] %></li>
  <li>email : <%= @user[:email] %></li>
  <li>Location : <%= @user[:location] %></li>
  <li>About    : <%= @user[:about] %></li>
  <li>
  	<% if @user.photo.nil? %>
  		<img src="/docs/user_icon/no_image.jpg" width="100">
  	<% else %>
  		<img src="<%= url_for_public@user.photo %>" width="100">
  	<% end %>
  </li>
</ul>

	

<%= form_tag({ action: :upload_process }, multipart: true) do %>

	<label>
	ファイルを指定：<%= file_field_tag :upfile, size: 50 %>
	</label>
	<%= hidden_field_tag :id, @user.id %>
	<%= submit_tag 'アップロード' %>
<% end %>