

<h2>投稿一覧</h2>

<% @questions.each do |question| %>
	<h2>Q.<%= question.title %></h2>
	<p><%= question.content %></p>
	<p>緯度：<%= question.lat %></p>
	<p>経度：<%= question.lng %></p>
	<p>user_id：<%= question.user_id %></p>
	(<%= question.comments.each do |r| %><%= r.content %><% end %>)
<% end %>
