

<% content_for :js_css_include do %>
	<script>
		var app = {
			<% if logged_in? %>
			user_id:<%= current_user.id %>
			<% end %>
		};
		/*
		function initMap(){
		  app.initMap();
		}*/
	</script>
	<%= javascript_include_tag 'Questions', media:'all', 'data-turbolinks-track': 'reload' %>
	<!--
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9_vyxRZFpNPIvOXBwtEtW6g4JBovU3PU&callback=initMap"
	    async defer></script>
	-->
<% end %>

<div class="map_container">
	<div class="map" id="leafletMap"></div>
	<a href="javascript:void(0);" class="btn0">質問を投稿する</a>
</div>


<div class="modal new">
	<div class="inner">
		<h2 class="title0">新規投稿</h2>
		<div class="c_mb30 title">
			<label for="questionTitle">タイトル</label>
			<input type="text" name="title" class="title" id="questionTitle">
		</div>
		<div class="c_mb30 textarea">
			<label for="questionContent">投稿内容</label>
			<textarea name="content" class="content" id="questionContent"></textarea>
		</div>
		<div class="c_mb40 photo">
			<div class="file_selector">
				<label class="file" for="fileContent">
					<p>写真選択</p>
					<input type="file" id="fileContent">
				</label>
				<div class="photo">
					<div class="delete_btn"></div>
				</div>
			</div>
		</div>

		<input type="submit" name="commit" value="投稿する" class="btn0 submit_btn c_mcenter" data-disable-with="Create Question">

		<a href="javascript:void(0);" class="close_btn">×</a>
	</div>
</div>


<div class="modal show">
	<div class="inner">
		<div class="top">
			<h2 class="title">
				<div class="like_btn">
					<span class="count">0</span>
					<span class="like_btn_text">いいね</span>
					<span class="like_popup">タップでいいねする</span>
				</div>
				<span class="title_user_icon">
					<a href="#"></a>
				</span>
				<span class="title_text"></span>
			</h2>

			<ul class="sns">
				<li>
					この投稿を<br>シェアする
				</li>
				<li>
					<a class="facebook" data-type="facebook" data-tracking="sns,footer,facebook" target="_blank" href="https://www.facebook.com/share.php?u=http://mappop.jp">
						<%= image_tag 'sns/facebook.jpg', :alt => 'Facebookでシェアする' %>
					</a>
				</li>
				<li>
					<a class="twitter js-tracking js-share" data-type="twitter" data-tracking="sns,footer,twitter" target="_blank" href="http://twitter.com/share?text=hogege&amp;url=http//:mappop.jp">
						<%= image_tag 'sns/twitter.jpg', :alt => 'Twitterでシェアする' %>
					</a>
				</li>
				<li>
					<a class="line js-tracking js-share" data-type="line" data-tracking="sns,footer,line" target="_blank" href="https://social-plugins.line.me/lineit/share?url=http//:mappop.jp&amp;text=hogege">
						<%= image_tag 'sns/line.jpg', :alt => 'LINEでシェアする' %>
					</a>
				</li>
			</ul>

			<div class="photo"></div>
			<p class="content"></p>
		</div>
		<div class="bottom">
			<div>
				<h2>コメント一覧</h2>
				<ul class="comments">
				</ul>
				<textarea name="comment" class="comment"></textarea>
				<a href="javascript:void(0);" class="btn0 answer_btn c_mb30">コメントする</a>
			</div>
		</div>

		<a href="javascript:void(0);" class="close_btn">×</a>
	</div>
</div>