	<ul>
	<% flash.each do |key, value| %>
	  <li class="alert alert-<%= key %>">
	    <%= value %>
	  </li>
	<% end %>
	</ul>
	
    <%= form_for(:session, url: login_path) do |f| %>
		<div class="c_mb20 email">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="c_mb20 password">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<%= hidden_field_tag :referer, flash[:referer] %>
		<%= f.submit "ログイン", class:"submit_btn0 btn0" %>

	<% end %>

	<p class="signup_btn btn1"><%= link_to "新規登録", signup_path %></p>